In [1]:
import numpy as np
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

- body_dict will need to be incremented (update pageIndex) for each requests.post() until total items (for 2019 this is 53520) are retrieved

In [2]:
items2019 = 53520
pages = 1071

In [3]:
headers ={'Token':'6112c32703f442f0'}
url = 'https://results.nyrr.org/api/runners/finishers-filter'
body = '{"eventCode":"M2019","runnerId":null,"searchString":null,"countryCode":null,"stateProvince":null,"city":null,"teamName":null,"teamCode":null,"gender":null,"ageFrom":null,"ageTo":null,"overallPlaceFrom":null,"overallPlaceTo":null,"paceFrom":null,"paceTo":null,"overallTimeFrom":null,"overallTimeTo":null,"gunTimeFrom":null,"gunTimeTo":null,"ageGradedTimeFrom":null,"ageGradedTimeTo":null,"ageGradedPlaceFrom":null,"ageGradedPlaceTo":null,"ageGradedPerformanceFrom":null,"ageGradedPerformanceTo":null,"handicap":null,"sortColumn":"overallTime","sortDescending":false,"pageIndex":1,"pageSize":50}'

- the `body` (copied from chrome devtools) is a string above, we need it as a dictionary so we can update the `pageIndex`
    - `json.loads()` converts the json string to json/dict
- the `url` (from chrome devtools is the url the API is hitting to get data)
- `headers` contain the API token (also harvested from devtools)

In [4]:
body_dict = json.loads(body)

In [5]:
body_dict

{'eventCode': 'M2019',
 'runnerId': None,
 'searchString': None,
 'countryCode': None,
 'stateProvince': None,
 'city': None,
 'teamName': None,
 'teamCode': None,
 'gender': None,
 'ageFrom': None,
 'ageTo': None,
 'overallPlaceFrom': None,
 'overallPlaceTo': None,
 'paceFrom': None,
 'paceTo': None,
 'overallTimeFrom': None,
 'overallTimeTo': None,
 'gunTimeFrom': None,
 'gunTimeTo': None,
 'ageGradedTimeFrom': None,
 'ageGradedTimeTo': None,
 'ageGradedPlaceFrom': None,
 'ageGradedPlaceTo': None,
 'ageGradedPerformanceFrom': None,
 'ageGradedPerformanceTo': None,
 'handicap': None,
 'sortColumn': 'overallTime',
 'sortDescending': False,
 'pageIndex': 1,
 'pageSize': 50}

To make the http request, use the requests library's `post()` method - we can see it is a post by looking at devtools

In [6]:
result = requests.post(url, json = body_dict, headers = headers)
result #Response 200 means ok

By drilling down into the json returned as result (`result.json()`) you can see that you need the `response` values and their `items`

In [7]:
result_set = result.json()['response']['items']
#result.json() wil show first 50, have to nest down to response >items

In [8]:
pd.DataFrame(result_set)

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,25220945,Geoffrey,Kamworor,3,26,1992-11-22T00:00:00,M,Kapchorwa District,KEN,None,KEN,1,2:08:13,04:54,1,08:13,2,95.90,4
1,25260388,Albert,Korir,5,25,1994-03-02T00:00:00,M,Kapkitony,KEN,None,KEN,2,2:08:36,04:55,2,08:36,3,95.62,1
2,25215569,Girma,Bekele Gebre,443,26,1992-12-29T00:00:00,M,New York,USA,NY,ETH,3,2:08:38,04:55,3,08:38,4,95.59,31
3,25235919,Tamirat,Tola,4,28,1991-08-11T00:00:00,M,Addis Ababa,ETH,None,ETH,4,2:09:20,04:56,4,09:20,5,95.07,2
4,25235918,Shura,Kitata,2,23,1996-06-09T00:00:00,M,Addis Ababa,ETH,None,ETH,5,2:10:39,04:59,5,10:39,6,94.11,2
5,25228020,Jared,Ward,6,31,1988-09-09T00:00:00,M,Mapleton,USA,UT,USA,6,2:10:45,05:00,6,10:45,7,94.04,5
6,25221758,Stephen,Sambu,10,31,1988-07-07T00:00:00,M,Tucson,USA,AZ,KEN,7,2:11:11,05:01,7,11:11,9,93.73,12
7,25260392,Yoshiki,Takenouchi,11,27,1992-05-25T00:00:00,M,Kyoto,JPN,None,JPN,8,2:11:18,05:01,8,11:18,10,93.64,1
8,25211243,Abdi,Abdirahman,14,42,1977-01-01T00:00:00,M,Tucson,USA,AZ,USA,9,2:11:34,05:02,9,06:05,1,97.52,23
9,25260389,Connor,McMillan,28,23,1995-11-15T00:00:00,M,Provo,USA,UT,USA,10,2:12:07,05:03,10,12:07,12,93.07,1
10,25217348,Arne,Gabius,12,38,1981-03-22T00:00:00,M,Stuttgart,DEU,None,GER,11,2:12:57,05:05,11,10:47,8,94.02,4
11,25245627,Daniel,Mesfun,15,31,1988-01-01T00:00:00,M,Flagstaff,USA,AZ,ERI,12,2:13:09,05:05,12,13:09,13,92.34,2
12,25217544,Birhanu,Dare Kemal,26,33,1986-07-19T00:00:00,M,New York,USA,NY,ETH,13,2:13:35,05:06,13,13:26,14,92.15,50
13,25224638,Tyler,Pennel,18,31,1987-12-21T00:00:00,M,Blowing Rock,USA,NC,USA,14,2:14:10,05:08,14,14:10,15,91.64,2
14,25225511,John,Raneri,27,28,1991-10-23T00:00:00,M,New Fairfield,USA,CT,USA,15,2:14:13,05:08,15,14:13,16,91.61,5
15,25246477,Patricio,Castillo,445,27,1992-02-17T00:00:00,M,Flushing,USA,NY,MEX,16,2:14:16,05:08,16,14:16,17,91.58,4
16,25223936,Tadesse,Yae Dabi,25,30,1988-11-21T00:00:00,M,New York,USA,NY,ETH,17,2:14:24,05:08,17,14:24,18,91.49,36
17,25247795,Tyler,Jermann,19,27,1992-08-19T00:00:00,M,Burnsville,USA,MN,USA,18,2:15:38,05:11,18,15:38,20,90.66,2
18,25260393,Joe,Whelan,23,28,1990-11-13T00:00:00,M,Spring Branch,USA,TX,USA,19,2:16:10,05:12,19,16:10,23,90.30,1
19,25246440,Louis,Serafini,30,28,1991-09-20T00:00:00,M,Somerville,USA,MA,USA,20,2:16:34,05:13,20,16:34,24,90.04,4
20,25215491,Diriba,Degefa Yigezu,448,31,1987-11-21T00:00:00,M,Bronx,USA,NY,ETH,21,2:16:38,05:13,21,16:38,25,89.99,52
21,25260391,Jack,Rayner,9,23,1995-12-19T00:00:00,M,Melbourne,AUS,None,AUS,22,2:16:58,05:14,22,16:58,26,89.77,1
22,25214958,Brett,Robinson,8,28,1991-05-08T00:00:00,M,Melbourne,AUS,None,AUS,23,2:17:50,05:16,23,17:50,28,89.21,3
23,25220953,Craig,Leon,20,34,1984-11-08T00:00:00,M,Eugene,USA,OR,USA,24,2:18:20,05:17,24,17:58,29,89.12,3
24,25260390,Mustafa,Mohamed,36,40,1979-03-01T00:00:00,M,Savedalen,SWE,None,SWE,25,2:19:41,05:20,25,15:51,22,90.51,1
25,25217987,Brendan,Martin,29,30,1989-03-21T00:00:00,M,Smithtown,USA,NY,USA,26,2:19:52,05:21,26,19:52,31,87.91,37
26,25208302,Harbert,Okuti,24,34,1985-10-25T00:00:00,M,High Falls,USA,NY,UGA,27,2:21:06,05:23,27,20:43,33,87.38,60
27,25220985,Fredison,Costa,447,42,1977-03-18T00:00:00,M,Kissimmee,USA,FL,BRA,28,2:21:29,05:24,28,15:36,19,90.68,5
28,25215934,Tyler,McCandless,16,33,1986-10-14T00:00:00,M,Boulder,USA,CO,USA,29,2:21:55,05:25,29,21:45,36,86.74,2
29,25259567,Gregory,Billington,444,30,1989-05-30T00:00:00,M,San Francisco,USA,CA,USA,30,2:22:27,05:26,30,22:27,43,86.32,1
30,25245624,Joyciline,Jepkosgei,106,25,1993-12-08T00:00:00,F,Iten,KEN,None,KEN,31,2:22:38,05:27,1,22:38,5,94.94,2
31,25229807,Temesgen,Habtemariam Bekele,458,29,1990-10-21T00:00:00,M,New York,USA,NY,ETH,32,2:23:04,05:28,31,23:04,48,85.94,21
32,25235487,Jaime,Julia,34,35,1984-09-15T00:00:00,M,Richmond Hill,USA,NY,PUR,33,2:23:04,05:28,32,22:22,42,86.37,1
33,25211705,Mary,Keitany,101,37,1982-01-18T00:00:00,F,Iten,KEN,None,KEN,34,2:23:32,05:29,2,21:26,3,95.75,11
34,25215422,Abu,Kebede Diriba,460,32,1987-07-22T00:00:00,M,New York,USA,NY,ETH,35,2:23:55,05:30,33,23:53,51,85.45,73
35,25240745,Seth,DeMoor,1008,34,1985-06-10T00:00:00,M,Englewood,USA,CO,USA,36,2:24:01,05:30,34,23:38,50,85.60,1
36,25229503,Michel,Butter,7,33,1985-11-05T00:00:00,M,Castricum,NLD,None,NED,37,2:25:06,05:33,35,24:56,57,84.84,2
37,25238741,Matthew,Kruger,465,31,1988-05-01T00:00:00,M,Saint Louis,USA,MO,USA,38,2:25:37,05:34,36,25:37,62,84.44,1
38,25260394,Ruti,Aga,103,25,1994-01-16T00:00:00,F,Addis Ababa,ETH,None,ETH,39,2:25:51,05:34,3,25:51,10,92.85,1
39,25247412,Vladimir,Shatrov,1010,41,1978-07-06T00:00:00,M,Kahibah,AUS,None,AUS,40,2:26:17,05:35,37,21:17,35,87.03,1
40,25244176,Tim Niklas,Schwippel,1027,24,1995-04-26T00:00:00,M,Munster,DEU,None,GER,41,2:26:19,05:35,38,26:19,68,84.03,1
41,25260397,Nancy,Kiprop,104,40,1979-07-07T00:00:00,F,Chesitek,KEN,None,KEN,42,2:26:21,05:35,4,21:56,4,95.41,1
42,25260395,Sinead,Diver,107,42,1977-02-17T00:00:00,F,Melbourne,AUS,None,AUS,43,2:26:23,05:35,5,20:01,2,96.72,1
43,25258424,Jordan,Daniel,1009,24,1994-12-30T00:00:00,M,Westhampton,USA,NY,USA,44,2:26:27,05:36,39,26:27,70,83.96,1
44,25229568,Guillaume,Adam,1052,29,1990-01-15T00:00:00,M,Reignier,FRA,None,FRA,45,2:26:36,05:36,40,26:36,71,83.87,2
45,25235578,Thierry,Guibault,1048,45,1974-07-11T00:00:00,M,Angeac-Champagne,FRA,None,FRA,46,2:26:46,05:36,41,17:14,27,89.60,2
46,25212515,Desiree,Linden,105,36,1983-07-26T00:00:00,F,Charlevoix,USA,MI,USA,47,2:26:46,05:36,6,25:12,8,93.26,22
47,25229502,Kellyn,Taylor,108,33,1986-07-22T00:00:00,F,Flagstaff,USA,AZ,USA,48,2:26:52,05:37,7,26:29,11,92.45,3
48,25243148,Rune,Baekgaard,441,31,1988-08-15T00:00:00,M,Aarhus C,DNK,None,DEN,49,2:26:53,05:37,42,26:53,73,83.71,1
49,25232226,Ellie,Pashley,112,30,1988-12-10T00:00:00,F,Torquay,AUS,None,AUS,50,2:27:07,05:37,8,27:07,12,92.06,1

passing the dictionary (json) returned to `pd.DataFrame()` creates a df with the first 50 rows of runner data

In [9]:
df = pd.DataFrame(result_set)

In [10]:
df.tail()

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
45,25235578,Thierry,Guibault,1048,45,1974-07-11T00:00:00,M,Angeac-Champagne,FRA,None,FRA,46,2:26:46,05:36,41,17:14,27,89.60,2
46,25212515,Desiree,Linden,105,36,1983-07-26T00:00:00,F,Charlevoix,USA,MI,USA,47,2:26:46,05:36,6,25:12,8,93.26,22
47,25229502,Kellyn,Taylor,108,33,1986-07-22T00:00:00,F,Flagstaff,USA,AZ,USA,48,2:26:52,05:37,7,26:29,11,92.45,3
48,25243148,Rune,Baekgaard,441,31,1988-08-15T00:00:00,M,Aarhus C,DNK,None,DEN,49,2:26:53,05:37,42,26:53,73,83.71,1
49,25232226,Ellie,Pashley,112,30,1988-12-10T00:00:00,F,Torquay,AUS,None,AUS,50,2:27:07,05:37,8,27:07,12,92.06,1

In [ ]:
#for loop to get each set of results per page of url
df = pd.DataFrame()
for index in range (1, 1072): #or can do (pages+1 as end number)
    #print(index)
    body_dict['pageIndex']=index
    result = requests.post(url, json = body_dict, headers = headers)
    result_set = result.json()['response']['items']
    df = df.append(pd.DataFrame(result_set))
    print(df.shape) #or run tail here

In [ ]:
print(df.tail()) #this is stopping at runner place #10,000

In [ ]:
df.loc[49]

In [ ]:
print(body_dict)

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.tail()

In [ ]:
#export to csv to save each year results - only have first 10k places
df.to_csv('../data/nyc2019.csv')#,index= False)